/* Estilos generales */
body, html {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-menu {
  background-color: #C2C6CC;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos de navegación horizontalmente */
  align-items: center; /* Centra los elementos de navegación verticalmente */
}

#top-menu ul li {
  margin: 0 10px;
}

#top-menu ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #064469;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}
#top-menu ul li a:hover {
  background-color: #C2C6CC;
  color: #064469;
  text-decoration: underline;
}

#logonav {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: flex; /* Alinea el logotipo verticalmente al centro */
  align-items: center; /* Alinea el logotipo verticalmente al centro */
  margin-left: 15px;
}

.material-icons.user-icon {
  font-size: 40px;
  color: #fff;
  border-radius: 10px;
  margin-right: 50px;
  display: flex; /* Ajusta el alineado vertical si es necesario */
  align-items: center; /* Ajusta el alineado vertical si es necesario */
}

  /* Estilos para el menú hamburguesa */
  #menu-toggle {
    font-size: 24px;
    cursor: pointer;
    display: none;
    color: #fff;
    margin-right: 10px;
  }
/* Estilos para el encabezado con clase "titulo" */
.titulo {
    text-align: center;
    font-size: 30px;
  }

/* Estilos para el encabezado con clase "titulo2" */
.titulo2 {
    text-align: center;
  }

/* Estilos para el botón */
button {
    border-radius: 50px;
    box-shadow: 0 1px 1px;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* Estilos para las columnas de texto */
.columnas {
    font-size: 30px;
    width: 50%;/* Permite que las columnas estén una al lado de la otra */
}

/* Estilos para la imagen */
#imagenCal {
    width: 40%;
    height: max-content;
    float: left; /* Permite que la imagen esté junto a las columnas de texto */
    border-radius: 50px;
}

/* Contenedor para las columnas de texto y la imagen */
#columImg {
    margin: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
/* Estilos para los párrafos en .columnas2 */
.columnas2 p {
    width: 70%; /* Puedes ajustar este valor según tus preferencias */
    margin: 0 auto; /* Centra los párrafos horizontalmente en el contenedor */
    margin-left: 30px; /* Agrega un margen a la izquierda para separar el texto de los iconos */
}

/* Estilos para los íconos de Material Icons */
.material-icons {
    font-size: 24px; /* Ajusta el tamaño de los íconos según tus preferencias */
}

#buttonPrueba
{
    margin: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self:center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li {
  margin: 0 10px;
}

ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #064469;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}

ul li a:hover {
  background-color:#9CCDDB;
  color: #064469;
  text-decoration: underline;
}



