/* Estilos generales */
body, html {
  width: 100%;
  height: 100%;
}

html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#top-menu {
  background-color: #C2C6CC;
  width: 100%;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos de navegación horizontalmente */
  align-items: center; /* Centra los elementos de navegación verticalmente */
}

#top-menu ul li {
  margin: 0 10px;
}

#top-menu ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #064469;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}
#top-menu ul li a:hover {
  background-color: #C2C6CC;
  color: #064469;
  text-decoration: underline;
}

#logonav {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: flex; /* Alinea el logotipo verticalmente al centro */
  align-items: center; /* Alinea el logotipo verticalmente al centro */
  margin-left: 15px;
}

.material-icons.user-icon {
  font-size: 40px;
  color: #fff;
  border-radius: 10px;
  margin-right: 50px;
  display: flex; /* Ajusta el alineado vertical si es necesario */
  align-items: center; /* Ajusta el alineado vertical si es necesario */
}

/* Estilos para el menú hamburguesa */
#menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #fff;
  margin-right: 10px;
}

/* Estilos para el contenedor principal */
.container1 {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

/* Estilos para la segunda sección del contenedor */
.container2 {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  margin-inline: 20px;
}
/* Estilos para el encabezado y botones */
#tittleAndBotons {
  border-bottom: 1px solid #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#prev-month, #next-month, #month-year {
  border-radius: 20px;
}

#prev-month, #next-month {
  background: #064469;
  color: #fff;
  font-size: 18px;
}

#prev-month {
  margin-left: 50px;
}

#next-month {
  margin-right: 50px;
}

#month-year {
  font-size: 25px;
}

/* Estilos para el contenedor del calendario */
#calendar-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  border: 2px solid #000;
  background: #9CCDDB;
  height: 640px;
}

/* Estilos para el calendario y días de la semana */
#calendario {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  height: 630px;
}

#dias-semana {
  border: 2px solid #000;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #D9D9D9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

h3 {
  font-size: 25px;
}

#D {
  padding-right: 30px;
}

#L {
  padding-left: 30px;
}

/* Estilos para el calendario y los días */
#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #000;
  border-top: none;
  background: #D9D9D9;
  padding: 1%;
  height: 420px;
}

.day {
  position: relative;
  display: flex;
  border-radius: 10px;
  background-color: #FFFEFE;
  border: 1px solid #000000;
  justify-content: center;
  align-items: center;
  height: 65px; /* Cambiar a 20vh */
  font-size: 20px;
}

.add-task {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  height: 10px; /* Cambiar a 49px */
  width: 10px; /* Cambiar a 49px */
}

.task-box {
  background-color: #F39C12;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

/* Estilos para las secciones de Asignación, Pendientes, Progreso y Terminados */
#tittleASIG, #tittlePend, #tittleTerm, #tittleProgre {
  margin: 0px;
  background-color: #D9D9D9;
  border-bottom: 2px solid #000;
}

#asignacion, #pendProgre-contrainer {
  margin-top: 20px;
  border: 2px solid #072D44;
  background-color: #9CCDDB;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100px;
  text-align: center;
  border-radius: 20px;
}
#asignacion
{
  min-height: 15vh;
}

#pendProgre-contrainer {
  flex-direction: row;
  min-height: 100px;
}

#pendientes-container, #progreso-container {
  width: 50%;
}

#pendientes-container {
  border-right: 2px solid #000;
}

#inputAndButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  box-sizing: content-box;
}

#terminados-container {
  margin-left: 10px;
  margin-right: 50px;
  border: 2px solid #072D44;
  border-radius: 20px;
  background-color: #9CCDDB;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100px;
  text-align: center;
}

#tittleTerm, #tittleASIG {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

#tittleProgre {
  border-top-right-radius: 20px;
}

#tittlePend {
  border-top-left-radius: 20px;
}

/* Estilos CSS para el menú lateral */
#menu-lateral {
  border-top-left-radius: 20px;
  position: absolute;
  top: 0;
  margin-top: 60px;
  right: -250px; 
  width: 250px;
  height: 100%;
  background-color: #D9D9D9;
  color: #fff;
  transition: right 0.3s;
  z-index: 1; 
}

#usuario-info {
  padding: 10px;
  text-align: center;
  background-color: #c6c4c4;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}

.menu-lateral.show {
  display: absolute;
  width: 100%;
  height: 100%;
  margin-top: 77px;
  top: 0;
  right:0 !important; 
}

.material-icons.user-icon {
  cursor: pointer;
}
/* Estilos para pantallas más pequeñas (max-width: 768px) */
@media (max-width: 768px) {
  html,body
  {
    overflow-x: hidden;
  }
  .container1 {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .container2 {
    width: 90%;
    height: auto;
    margin-inline: 0;
  }

  #pendProgre-contrainer {
    flex-direction: column;
    min-height: 30vh;
  }
  #terminados-container {
    margin-top: 20px;
    margin-left: 0;
    width: 90%; /* Ocupa todo el ancho disponible en la vista estrecha */
    margin-right: 0; /* Elimina el margen derecho en pantallas estrechas */
    min-height: 15vh;
  }

  #pendientes-container,
  #progreso-container {
    width: 100%;
    margin-right: 0;
    margin-top: 20px;
    height: 50%;
  }

  #pendientes-container {
    border-top-right-radius:20px; 
    margin-top: 0;
    border: none;
  }

  #tittleASIG,
  #tittlePend,
  #tittleTerm,
  #tittleProgre {
    font-size: 20px;
  }

  #tittleProgre {
    border-radius: 0;
    border-top: 2px solid #000;
  }
  
  #top-menu ul {
    display: none;
  }

  #menu-toggle {
    display: block;
  }

  #top-menu ul.show {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px;
    padding: 0;
    right: 0;
    left: 0;
    background-color: #064469;
    width: 101%;
    justify-content: center; /* Centra los elementos de navegación en el menú hamburguesa horizontalmente */
    align-items: center; /* Centra los elementos de navegación en el menú hamburguesa verticalmente */
  }

  #top-menu ul.show li {
    text-align: center;
    margin: 5px 0;
  }

}
 
