/* Estilos generales */
body, html {
  width: 1430px;
  height: 100%;
  background-color: #9CCDDB;
}

html {
  overflow-x: hidden;
}
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedorBoss
{
  width: 100%;
  margin: 35px;  
  margin-top: 0;
  padding-bottom: 35px;
}

h4
{
  font-weight: 100;
  margin-bottom: 8px;
  font-size: 15px;
}

#top-menu {
  background-color: #C2C6CC;
  width: 1470px;
  height: 60px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

#top-menu ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos de navegación horizontalmente */
  align-items: center; /* Centra los elementos de navegación verticalmente */
}

#top-menu ul li {
  margin: 0 10px;
}

#top-menu ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #064469;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}
#top-menu ul li a:hover {
  background-color: #C2C6CC;
  color: #064469;
  text-decoration: underline;
}

#logonav {
  width: 50px;
  height: 50px;
  object-fit: contain;
  display: flex; /* Alinea el logotipo verticalmente al centro */
  align-items: center; /* Alinea el logotipo verticalmente al centro */
  margin-left: 15px;
}

.material-icons.user-icon {
  font-size: 40px;
  color: #fff;
  border-radius: 10px;
  margin-right: 50px;
  display: flex; /* Ajusta el alineado vertical si es necesario */
  align-items: center; /* Ajusta el alineado vertical si es necesario */
}

/* Estilos para el menú hamburguesa */
#menu-toggle {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #fff;
  margin-right: 10px;
}


/*contenedor principal calendario*/

#calendario-contenedor
{
  width: 472px;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  border: 1px solid #0000007e;
}

/* Estilos para el encabezado y botones */
#tittleAndBotons
{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #D9D9D9;
  border-top-left-radius: 19px;
  border-top-right-radius:19px ;
  border-bottom: 1px solid #0000005f;
  
}

#prev-month, #next-month {
  background: #064469;
  color: #fff;
  font-size: 18px;
  width:40px ;
  height: 40px;
  border-radius: 20px;
}

#prev-month {
  margin-left: 35px;
}

#next-month {
  margin-right: 35px;
}

#month-year {
  font-size: 24px;
}

/* Estilos para el calendario y días de la semana */
#dias-semana {
  margin-top: 22px;
  margin-bottom: 22px;
  background-color: #ffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

h3 {
  font-size: 15px;
}

#D {
  padding-right: 20px;
}

#L {
  padding-left: 20px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1%;
  margin: 10px;
}

#calendario 
{
  margin: 16px ;
  width: 430px;
  height: 400px;
  background-color: #C2C6CC;
  border: 1px solid #0000005f;
  border-radius: 20px;
}
.day {
  position: relative;
  display: flex;
  border-radius: 20px;
  background-color: #FFFEFE;
  border: 1px solid #0000007e;
  justify-content: center;
  align-items: center;
  height: 45px; /* Cambiar a 20vh */
  width: 45px;
  font-size: 20px;
}

.add-task {
  position: absolute;
  bottom: 10px;
  font-weight: bold;
  height: 10px; /* Cambiar a 49px */
  width: 10px; /* Cambiar a 49px */
}

.task-box {
  background-color: #F39C12;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  margin-top: 5px;
}

.material-icons.user-icon {
  font-size: 40px;
  color: #fff;
  background-color: #064469;
  border-radius: 10px;
  margin-right: 50px;
  display: flex; /* Ajusta el alineado vertical si es necesario */
  align-items: center; /* Ajusta el alineado vertical si es necesario */
}

/* Estilos CSS para el menú lateral */
#menu-lateral {
  border-top-left-radius: 20px;
  position: absolute;
  top: 0;
  margin-top: 60px;
  right: -600px; 
  width: 550px;
  height: 950px;
  background-color: #D9D9D9;
  color: #000000;
  transition: right 0.3s;
  z-index: 10000; 
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.celdaBoton button,.delete-button {
  background-color: #0000;
  color: red;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 1000;
}

.celdaBoton button:hover {
  color: #ff00007e;
}

.more-options-button,.update-button
{
  background-color: #0000;
  color: black;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 1000; 
}

.swal2-container {
  z-index: 10000; /* Elige un valor alto para asegurarte de que esté por encima de todo */
}
.mi-popup-clase {
  width: 80%; /* Ajusta el ancho según tus necesidades */
  /* Otros estilos personalizados aquí */
}



#email
{
  color: #0000007e;
}
#NomUser
{
color: #000000;

}
#username
{
  font-size: 100px;
  background-color: #0000;
}
#NomCor
{
  display: flex;
  flex-direction: column ;
}

#buttonClose ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centra los elementos de navegación horizontalmente */
  align-items: center; /* Centra los elementos de navegación verticalmente */
}

#buttonClose ul li {
  margin: 0 10px;
}

#buttonClose ul li a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #064469;
  color: #fff;
  border-radius: 20px;
  transition: background-color 0.3s;
  display: inline-block;
}
#buttonClose ul li a:hover {
  background-color: #C2C6CC;
  color: #064469;
  text-decoration: underline;
}

#iconNom
{
  width: 50%;
  display: flex;
  align-items: center;

}

.menu-lateral.show {
  display: absolute;
  width: 100%;
  height: 100%;
  margin-top: 77px;
  top: 0;
  right:0 !important; 
}
#username
{
  margin-right: 0;
}
.material-icons.user-icon {
  cursor: pointer;
}


/*Tabla Integrantes*/

#Integrantes-table th:first-child {
  border-top-left-radius: 9px;
}

#Integrantes-table th:last-child {
  border-top-right-radius: 9px;
  
}
#Integrantes-table th {
  background-color: #D9D9D9;
  width: 30%;
  
}

#Integrantes-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
  
}
.Integrantes
{
background-color: #fff;
width: 500px;
min-height: 300px;
max-height: 300px;
border: 1px solid #0000007e;
border-radius: 20px;
margin:none;
overflow-y: auto;
}
#tittlemenu
{
  width: 100%;
}
.Integrantes::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

.Integrantes::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}


/*Tabla Equipos*/

#equipos-table th:first-child {
  border-top-left-radius: 9px;
}

#equipos-table th:last-child {
  border-top-right-radius: 9px;
  
}
#equipos-table th {
  background-color: #D9D9D9;
  width: 100%;
  
}

#equipos-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
  
}
.Equipos
{
background-color: #fff;
width: 500px;
min-height: 300px;
max-height: 300px;
border: 1px solid #0000007e;
border-radius: 20px;
margin:none;
overflow-y: auto;
}
#tittlemenu
{
  width: 100%;
}
.Equipos::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

.Equipos::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}
/*Tabla Asignar*/
#asignar-table th:first-child {
  border-top-left-radius: 9px;
}

#asignar-table th:last-child {
  border-top-right-radius: 9px;
  
}
#asignar-table th {
  background-color: #D9D9D9;
  width: 50%;
  
}

#asignar-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
  
}
#asignar-contenedor,#terminados-contenedor
{
background-color: #fff;
min-height: 500px;
max-height: 500px;
border: 1px solid #0000007e;
border-radius: 20px;
margin:none;
overflow-y: auto;

}
#asignar-contenedor::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

#asignar-contenedor::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}
/*Tabla Terminados*/
#terminados-table th:first-child {
  border-top-left-radius: 9px;
}

#terminados-table th:last-child {
  border-top-right-radius: 9px;
  
}
#terminados-table th {
  background-color: #D9D9D9;
  width: 32%;
  
}

#terminados-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
  
}
#terminados-contenedor::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

#terminados-contenedor::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}
/*Tabla Pendientes*/
#pendientes-table th:first-child {
  border-top-left-radius: 18px;
}

#pendientes-table th:last-child {
  border-top-right-radius: 18px;
  
}
#pendientes-table th {
  background-color: #D9D9D9;
}

#pendientes-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
}
#pendientes-table,#progreso-table
{
  width: 100%;
}

#pendientes-contenedor,#progreso-contenedor
{
background-color: #fff;
border: 1px solid #0000007e;
border-radius: 20px;
min-height: 300px;
max-height: 300px;
overflow: auto;
}


#pendientes-contenedor::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

#pendientes-contenedor::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}
/*Tabla Progreso*/

#progreso-table th:first-child {
  border-top-left-radius: 18px;
}

#progreso-table th:last-child {
  border-top-right-radius: 18px;
  
}
#progreso-table th {
  background-color: #D9D9D9;
  width: 25%;
  
}

#progreso-table td{
  align-items: center;
  border-bottom: 1px solid #0000007e;
  text-align: center;
  
}

#progreso-contenedor::-webkit-scrollbar {
  width: 0em;
  /* Ancho de la barra de desplazamiento */
}

#progreso-contenedor::-webkit-scrollbar-thumb {
  border-top-right-radius: 20px;
  background-color: #fff;
  /* Color del pulgar de la barra de desplazamiento */
}
.container3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Espacio entre los elementos */
  flex: 1;
  height: 50%;
}
.pendProgreContainer {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px; /* Espacio entre los elementos */
  width: 100%;
}
#tittleAndDiv
{
  width: 50%;
}
#tittleAndDiv3
{
  width: 100%;
}

/* Establecer posición fija para los th en las tablas */
#asignar-table th,
#terminados-table th,
#pendientes-table th,
#progreso-table th {
  position: sticky;
  top: 0;
  background-color: #D9D9D9;
  z-index: 2; /* Asegura que los th estén por encima de los td */
}
/* Establecer estilos para todas las tablas y sus celdas */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #0000007e;
  text-align: center;
}

/* Establecer posición fija para los th en las tablas */
th {
  position: sticky;
  top: 0;
  background-color: #D9D9D9;
  z-index: 2; /* Asegura que los th estén por encima de los td */
}

/* Establecer overflow en las celdas td */
td {
  overflow: auto;
}

/* Estilos para la barra de desplazamiento en celdas td */
td::-webkit-scrollbar {
  width: 0em;
}

td::-webkit-scrollbar-thumb {
  background-color: #fff;
}


