<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calendario</title>
    {% load static %}
    <script src="{% static 'JAVASCRIPT/inicio_app.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/inicioUP.css' %}" />
    <title>TeamTasker</title>
    <link rel="stylesheet" type="text/css" href="../CSS/inicioUP.css" />
    <link rel="stylesheet" type="text/css" href="../CSS/style.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- SweetAlert2 CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css"
    />

    <!-- SweetAlert2 JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div id="top-menu">
      <i class="material-icons" id="menu-toggle">menu</i>
    <img src="{% static 'CSS/images/logo2.png' %}" id="logonav" />
      <ul>
        <li><a href="#">Tutorial</a></li>
        <li><a href="{%url 'iniciarsesion/'%}">Iniciar Sesion</a></li>
        <li><a href="{%url 'crearcuenta/'%}">Crear Cuenta</a></li>
      </ul>

      <i class="material-icons user-icon" id="user-icon">person</i>
    </div>
    <div class="titulo">
      <h1>¿Tienes tareas pendientes?</h1>
      <p>
        Con TeamTasker, es mas facil organizar tus trabajos o tareas junto con tus
        compañeros.
      </p>
      <a href="{% url 'crearcuenta/' %}" class="boton-registro">Regístrate Gratis</a>

    </div>
    <div id="columImg">
      <div class="columnas">
        <h2>
          ¡Invita a tus amigos y compañeros a unirse a ti y forma tu propio
          equipo para gestionar tareas de manera colaborativa!.
        </h2>
        <p>
          Gestiona tareas de manera colaborativa. Invita a amigos y compañeros
          para formar un equipo en nuestra plataforma. Comenta y trabaja en
          tiempo real en listas de tareas, proyectos, documentos. Mantén un
          control eficiente junto a tus seres queridos. Únete y haz de la
          gestión de tareas una experiencia conjunta.
        </p>
      </div>
      <div id="imagenCal">
        <img src="{% static 'CSS/images/Screenshot_1.png' %}" style="max-width: 100%" />
      </div>
    </div>

    <div class="titulo2">
      <h2>Desarrolla tareas en equipo</h2>
      <p>
        Prueba TeamTasker, la plataforma perfecta para que equipos de cualquier
        tamaño gestionen y colaboren en conjunto.
      </p>
    </div>
    <div class="columnas2">
      <p>
        <i class="material-icons">check_circle</i> Equipos de trabajo para
        ayudarte a organizarte y avanzas tus tareas pendientes o que ya estén en
        progreso
      </p>
      <p>
        <i class="material-icons">event</i> Lleva un control de tus tareas en
        progreso o sin iniciar, con un calendario dinámico que se actualiza
        dependiendo de las necesidades de tu equipo
      </p>
      <p>
        <i class="material-icons">comment</i> Comentarios en los diseños para
        comunicarte, seguir creando contenido y resolver sugerencias en tiempo
        real
      </p>
    </div>
    <div id="buttonPrueba"><button id="prueba">Prueba TeamTasker</button></div>
  </body>
</html>
