<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script> <!-- SERGIO -->
    {% load static %} <!-- SERGIO -->
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/signIn.css' %}" />
    <title>Iniciar Sesión</title>
  </head>
  <body>
    <script>
      $(document).ready(function () {
        $("#iniciarSesionBtn").click(function () {

          var correo = $("#Correo").val(); // SERGIO
          var contra = $("#Contra").val(); // SERGIO
         
          console.log("Correo:", correo);
          console.log("Contraseña:", contra);

          //var formData = {
        //'correo': correo,
        //'contraseña': contraseña,
        //'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
      //};

      //console.log(formData);

      $.ajax({
        type: "POST",
        url: "/iniciosesion2/",
        data: {
                correo,
                contra,
                'csrfmiddlewaretoken': $('[name="csrfmiddlewaretoken"]').val(),
        },
        success: function (response) {
          alert("FUNCA (si esta en la base de datos)"); // SERGIO
          console.log(response);

          // SERGIO
          if (response.cond == 0) {
            window.location.href = "/equipo/";
          } else {
            window.location.href = "/calendario/";
          };
        },
        error: function (error) {
          alert("NO FUNCA (no esta en la base de datos)"); // SERGIO
          console.log(error);
        }
      });
        });
      });
    </script>
    <section class="section">
      <div class="container" id="container">
        <!-- Panel para iniciar sesión -->
        <div class="form-container sign-in-container">
          <form action="#" method="post" id="signinForm"> <!-- SERGIO (añadi id) -->
            {%csrf_token %} <!-- SERGIO -->
            <h1>Iniciar Sesión</h1>
            <label>
              <input type="email" placeholder="Correo" id="Correo"/>
            </label>
            <label>
              <input type="password" placeholder="Contra" id="Contra"/> <!-- SERGIO -->
            </label>
            <a href="#">¿Olvidaste tu contraseña?</a>
            <button id="iniciarSesionBtn">Iniciar Sesión</button>
          </form>
        </div>
        <!-- Panel para crear cuenta -->
        <div class="overlay-panel overlay-right">
          <h1>Crear Cuenta</h1>
          <p>Crea una cuenta aquí si eres nuevo.</p>
          <button class="ghost" id="signUp">Crear Cuenta</button>
        </div>
      </div>
    </section>
  </body>
</html>
