/* Estilos CSS sin transiciones y animaciones */

body {
    width: 100%;
    height: 100%;
    background: radial-gradient(
      ellipse at center,
      rgba(255, 254, 234, 1) 0%,
      rgb(221, 244, 255) 85%,
      #dbfdff 100%
    );
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: -20px 0 50px;
    margin-top: 20px;
  }
  
  h1 {
    font-weight: bold;
    margin: 0;
  }
  
  p {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 5px 0 6px;
  }

  b {
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 20px;
    text-align: center;
  }
  
  a {
    color: #0e263d;
    font-size: 16px;
    font-weight: 100;
    text-decoration: none;
    margin: 15px 0;
  }
  
  .container {
    background: #fff;
    border-radius: 20px;
    box-shadow: 30px 14px 28px rgba(0, 0, 5, 0.2), 0 10px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    width: 200px;
    max-width: 100%;
    min-height: 300px;
    text-align: center;
  }

  .holder{
    width: 400px;
    height: 300px;
    position: relative;
}
  
  button {
    border-radius: 50px;
    box-shadow: 0 1px 1px;
    border: 1px solid #008ecf;
    background: #008ecf;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  button:focus {
    outline: none;
  }
  
  button.ghost {
    background: transparent;
    border-color: #fff;
  }
  
  
